<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fast fashion store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="lessons.js"></script>
</head>

<body>

    <div id="App">

        <header>
            <h1>{{ sitename }}</h1>
            <button v-on:click='showCheckout'> {{ cartItemCount(1) }} <span class="fa-solid fa-cart-shopping"></span> Checkout</button>
        </header>
        <div v-if='showProduct'>
            <!-- the code for the product page -->    
            <div v-for="lesson in lessons">
                <img style="width: 100px; height: 100px; margin-top: 20px;" v-bind:src="lesson.image">
                <h2 v-text="lesson.subject"></h2>
                <p v-text="lesson.location"></p>
                <p>Price: £<span v-text="lesson.price"></span></p>
                <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)">Add to Cart</button>
                <button disabled='disabled' v-else>Add to cart</button>
            </div>
        </div>
        <div v-else>
            <!-- the code for the checkout page -->
            <h2>Cart</h2>
            <p v-for="id in cart" :key="id">{{ id }}</p>
            <p>Total: £<span v-text="total"></span></p>

            <h2>Enter your information</h2>
            <p>First Name: <input v-model.trim="order.firstName"></p>
            <p>Last Name: <input v-model.trim="order.lastName"/></p>
            <p>Address: <input v-model.trim="order.address"/></p>
            <p>City: <input v-model.trim="order.city"/></p>
            <p>State:
                <select v-model="order.state">
                    <option disabled value="">State</option>
                    <option>AL</option>
                    <option>AR</option>
                    <option>CA</option>
                    <option>NV</option>
                </select>
            </p>
            <p>Zip/Postal Code: <input v-model="order.zip"/></p>
               
            <h2>Order Information</h2>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>
            <p>Address: {{order.address}}</p>
            <p>City: {{order.city}}</p>
            <p>Zip: {{order.zip}}</p>
            <p>State: {{order.state}}</p>

            <button v-on:click="submitForm">Place Order</button>  
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#App',
            data: { sitename:'Lessons store', 
                    showProduct: true,
                    order:{
                        firstName: '',
                        lastName: '',
                        address: '',
                        city: '',
                        zip: '',
                        state: ''
                    },
                    lessons:lessons, 
                    cart: []
                },
            methods: {
                addToCart(lesson) {
                    this.cart.push(lesson.id);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                cartItemCount(id) {
                    let count = 0;
                    for(let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                canAddToCart(lesson) {
                    return lesson.availableInventory > this.cartItemCount(lesson.id);
                }
            },
            computed: {
                total: function() {
                    let totalAmount = 0;
                    // Iterate over the cart array
                    for (let i = 0; i < this.cart.length; i++) {
                        // Add the product price for each item in the cart
                        totalAmount += this.lesson.price;
                    }
                    return totalAmount;
                }
            }
        })
    </script>

</body>

</html>