<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fast fashion store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>

<body>

    <div id="App">

        <header>
            <h1>{{ sitename }}</h1>
            <button v-on:click='showCheckout'> {{ cartItemCount }} <span class="fa-solid fa-cart-shopping"></span> Checkout</button>
        </header>
        <div v-if='showProduct'>
            <!-- the code for the product page -->    
            <img style="width: 100px; height: 100px; margin-top: 20px;" v-bind:src="product.image">
            <h2 v-text="product.title"></h2>
            <p v-text="product.description"></p>
            <p>Price: £<span v-text="product.price"></span></p>
            <button v-on:click="addToCart" v-if="canAddToCart">Add to Cart</button>
            <button disabled='disabled' v-else>Add to cart</button>
        </div>
        <div v-else>
            <!-- the code for the checkout page -->
            <h2>Cart</h2>
            <p v-for="id in cart" :key="id">{{ id }}</p>
            <p>Total: £<span v-text="total"></span></p>

            <h2>Enter your information</h2>
            <p>First Name: <input v-model.trim="order.firstName"></p>
            <p>Last Name: <input v-model.trim="order.lastName"/></p>
            <p>Address: <input v-model.trim="order.address"/></p>
            <p>City: <input v-model.trim="order.city"/></p>
            <p>State:
                <select v-model="order.state">
                    <option disabled value="">State</option>
                    <option>AL</option>
                    <option>AR</option>
                    <option>CA</option>
                    <option>NV</option>
                </select>
            </p>
            <p>Zip/Postal Code: <input v-model="order.zip"/></p>
               
            <h2>Order Information</h2>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>
            <p>Address: {{order.address}}</p>
            <p>City: {{order.city}}</p>
            <p>Zip: {{order.zip}}</p>
            <p>State: {{order.state}}</p>

            <button v-on:click="submitForm">Place Order</button>  
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#App',
            data: { sitename:'Fast fashion store', 
                    showProduct: true,
                    order:{
                        firstName: '',
                        lastName: '',
                        address: '',
                        city: '',
                        zip: '',
                        state: ''
                    },
                    product:{ 
                        id: '001', 
                        title: 'Pink dress', 
                        description: 'A pink dress with a cute bow.', 
                        price: 100, 
                        image: 'womensDress.png', 
                        availableInventory:5
                    }, 
                    cart: []
                },
            methods: {
                addToCart: function () {
                    this.cart.push(this.product.id);
                    alert("Added " + this.product.id + " to your cart");
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                }
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length;
                },
                canAddToCart: function() {
                    return this.product.availableInventory > this.cartItemCount;
                },
                total: function() {
                    let totalAmount = 0;
                    // Iterate over the cart array
                    for (let i = 0; i < this.cart.length; i++) {
                        // Add the product price for each item in the cart
                        totalAmount += this.product.price;
                    }
                    return totalAmount;
                }

            }
        })
    </script>

</body>

</html>