.container {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #497278;
    color: white;
}

.sortContainer {
    width: 10%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.lessonContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lessonItem {
    width: calc(33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}